<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/update.css" type="text/css" />
  </head>
  <body class="bg-dark">
    <header
      class="container d-flex flex-wrap justify-content-center py-3 mb-4 bottom-border"
    >
      <a
        href="/main"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
      >
        <img
          src="/images/Blogify-logo3.jpg"
          alt="Blogify logo"
          class="blogify-logo"
        />
        <span class="fs-4 text-white">Blogify</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="/" class="nav-link" aria-current="page">Home</a>
        </li>
        <li class="nav-item"><a href="/create" class="nav-link">Create</a></li>
        <li class="nav-item"><a href="/main" class="nav-link">Read</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link">Contact Us</a></li>
      </ul>
    </header>

    <main class="container">
      <h1 class="text-white text-center mb-4">Update</h1>
      <div class="to-do-list-container">
        <form action="/update/<%= index %>" method="post">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="What is your name"
              name="updateName"
              value="<%= item.name %>"
              required
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Title"
              name="updateTitle"
              value="<%= item.title %>"
              required
            />
          </div>
          <div class="mb-3">
            <textarea
              class="form-control description"
              name="updateDescription"
              id="description"
              placeholder="What's on your mind..."
              maxlength="2000"
              rows="7"
              required
            ><%= item.description %></textarea>
          </div>
          <button class="btn btn-primary w-100 edit-button" type="submit" name="plan">
            Update
          </button>
        </form>
      </div>
    </main>

    <%- include("partials/footer") %>
  </body>
</html>
